{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "consistent-return": 0,
    "no-use-before-define": 0,
    "padded-blocks": 0,
    "object-curly-spacing": ["error", "never"],
    "no-console": ["error", {allow: ["error"]}]
  },
  "plugins": [
    "import"
  ]
}
